{% load static %}

<div class="chat-box-container content" id="chat-box-container">
  <div class="chat-box-content">

    <div class="chat-box-top-bar">
      <div class="chat-box-avatar" id="chat-box-avatar"></div>
      <div class="chat-box-profile-info">
        <p id="chat-box-username"></p>
        <p class="status"></p>
      </div>
      <img
        src="{% static 'images/icons/options.png' %}"
        alt="options icon"
        class="chat-top-options-icon" />
      <div class="popup chat-box-popup">
        <button id="popup-profile-btn">profile</button>
        <button id="popup-clear-chat">clear chat</button>
      </div>
    </div>
    <div class="chat-log scroll-container"></div>
    <div class="chat-box-input">
      <input
        type="text"
        name="user-message-input"
        id="user-message-input"
        class="user-message-input"
        placeholder="Type your message. . ." />
      <button>
        <img
          src="{% static 'images/icons/paper-plane.png' %}"
          alt="paper-plane icon"
          class="send-icon" />
      </button>
    </div>
    <div class="popup clear-chat overlay">
      <div class="popup-clear-chat scroll-container"> 
        <p>Are you sure you want to clear chat. Once cleared you cannot retrieve chat history again.</p>
        <div class="clear-chat-response">
          <button id="clear-chat-yes">yes</button>
          <button id="clear-chat-no">no</button>
        </div>
      </div>
      
    </div>
  </div>


  <div class="chat-box-landing">
    <h1>Welcome</h1>
    <div>
      <p>&#43;</p>
    </div>
    <p>start a new conversation</p>
  </div>
</div>
