{% load static %}

<div class="contacts-section section">
    <div class="contact-item contact-header">
        <h2>Contacts</h2>
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input">
            <img src="{% static 'images/icons/search.png' %}" alt="search icon" class="search-icon">
        </div>
    </div>
    <div class="contact-item mid-section"> 
        <div class="btn-add find-new-user">
            <img src="{% static 'images/icons/plus.png' %}"
                alt="plus icon to start new conversation"
                class="start-new-convo-icon">
        </div>
        <button id="refresh-contact-btn" onclick="call_get_contacts()">&#x21BB;</button>
    </div>
    <div class="contact-item contacts scroll-container">      
    </div>
</div>
