{% load static %}

<div class="new-users-section content">
    <div class="header">
        <h3>People</h3>
        <span class="go-back" id="close">&times;</span>
    </div>
    <div class="user-search-container">
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input">
            <img src="{% static 'images/icons/search.png' %}" alt="search icon" class="search-icon">
        </div>
    </div>

    <div class="new-users-list scroll-container">
    </div>
</div>
