{% load static %}

<div class="messages-section section">
    <div class="messages-header">
        <h2>Messages <span class="{% if not unread_msg_count %}hidden{% endif %}">({{ unread_msg_count }})</span></h2>
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input">
            <img src="{% static 'images/icons/search.png' %}" alt="search icon" class="search-icon">
        </div>
    </div>
    
    <div class="open-conversation-header-wrapper">
        <h6 class="open-conversation-header">DIRECT MESSAGES</h6>
        <button class="btn-add start-new-convo">
            <img src="{% static 'images/icons/plus.png' %}"
                alt="plus icon to start new conversation"
                class="start-new-convo-icon">
        </button>
    </div>

    <div class="open-conversations-list scroll-container">
        
        {% if conversations %}
        
        {% for conversation in conversations %}
        <div class="conversation" data-convo-id="{{ conversation.id }}" data-user-id="{{conversation.conversation_with.id}}">
            <div class="conversation-avatar conversation-item">
                <img src="{{ conversation.conversation_with.profile.avatar.url }}" alt="profile-avatar" class="avatar">
            </div>
            <div class="conversation-info conversation-item">
                <p class="conversation-with-name">{{ conversation.conversation_with.username }}</p>
                <p>{{ conversation.messages.first.body|truncatechars:20 }}</p>
            </div>
            <div class="unread-messages {% if conversation.unread_msg_count %}active{% endif %}">
                <p>{{ conversation.unread_msg_count }}</p>
            </div>
            <img src="{% static 'images/icons/options.png' %}" alt="options-icon" class="options">
            <div class="options-dialog">
                <button class="od-profile">Profile</button>
                <button class="od-delete">Delete Conversation</button>
            </div>
        </div>
        {% endfor %}


        {% endif %}

        
    </div>
</div>
        

