{% load static %}

<div class="other-profile-section content">
    <div class="other-user-top">
        <span class="go-back" id="close-profile">&times;</span>
    </div>
    <div class="other-profile-header">
        <div class="other-profile-avatar-container">
            <div class="other-profile-avatar">
                <img src="" alt="" class="avatar other_user ">
            </div>
        </div>
        <h3></h3>
        <div class="other-profile-btns">
            <div class="start-chat">
                send message
            </div>
            <button class="follow-btn"></button>
        </div>
    </div>
    <div class="other-profile-info scroll-container">
        <div class="other-profile-info-item username-info">
            <img src="{% static 'images/icons/profile_name.png' %}" alt="profile-icon" class="profile-icon">
            <p></p>
        </div>
        <div class="other-profile-info-item email-info">
            <img src="{% static 'images/icons/email.png' %}" alt="email-icon" class="profile-icon">
            <p></p>
        </div>
        <div class="other-profile-info-item phone-number-info">
            <img src="{% static 'images/icons/telephone.png' %}" alt="telephone-icon" class="profile-icon">
            <p></p>
        </div>

        <div class="other-profile-info-item bio-info">
            <img src="{% static 'images/icons/bio.png' %}" alt="bio-icon" class="profile-icon">
            <p></p>
        </div>

    </div>
</div>