/* ---------- GENERAL ----------- */

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
}
.content-container {
    border: 1px solid black;
    border-radius: 15px;
    margin: 5% auto;
    width: 70%;
    height: 500PX;

}

/* ---------LOGIN STYLE START ------------- */
.login-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 10%;
    padding: 20px;
    
}
/* ---------LOGIN STYLE END ------------- */

.chat-container {
    border: 1px solid black;
    height: 500px;
    width: 60%;
    margin: 0 auto; 
}

#chat-box {
    height: 80%;
    overflow: scroll;
}
.right {
    text-align: right;
}
