<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    {% comment %} <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script> {% endcomment %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
    
    {% block content %}{% endblock content %}
    
    {% block scripts %}{% endblock scripts %}
</body>
</html>
