{% load static %}

<div class="side-menu-navigation content">
    <div class="nav-item side-menu-chat-logo">
        <p>app icon</p>
    </div>
    
    <div class="nav-item">
        <div class="nav" id="profile-nav">
            <img src="{% static 'images/icons/profile.png' %}"
                alt="profile icon"
                class="nav-icon">
        </div>
    </div>
    <div class="nav-item">
        <div class="nav selected" id="messages-nav">
            <img src="{% static 'images/icons/messages.png' %}"
            alt="messages icon"
            class="nav-icon">
        </div>
    </div>
    <div class="nav-item">
        <div class="nav" id="contact-nav">
            <img src="{% static 'images/icons/contact.png' %}"
                alt="contact-book icon"
                class="nav-icon">
        </div>
    </div>
    <div class="nav-item">
        <div class="nav" id="bookmark-nav">
            <img src="{% static 'images/icons/bookmark.png' %}"
            alt="bookmark icon"
            class="nav-icon">
        </div>
    </div>

    <div class="nav-item">
        <div class="nav" id="settings-nav">
            <img src="{% static 'images/icons/settings.png' %}"
            alt="settings icon"
            class="nav-icon">
        </div>
    </div>
    <div class="nav-item nav-avatar">
        <div class="profile-avatar-options">
            <img src="{{ request.user.profile.avatar.url }}" alt="" class="avatar account-user">
        </div>
        <div class="options-dialog">
            <button>profile</button>
            <button>logout</button=>
        </div>
        <!-- <div class="popup profile-popup">
                <p>Profile</p>
                <a href="{% url 'logout' %}">logout</a>
        </div> -->
    </div>
    
</div>