{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} <h1>CHATAPP</h1>
<p>Welcome @{{ request.user.username }}</p>  {% endcomment %}

<div class="chatapp-main-wrapper">
    {% include "nav.html" %}

    <div class="sections-display content">
        {% include "base/partials/profile.html" %}
        {% include "base/partials/messages.html" %}
        {% include "base/partials/contacts.html" %}
        {% include "base/partials/bookmark.html" %}
    </div>

    {% include "base/partials/chat_box.html" %}
    {% include "base/partials/find_users.html" %}
</div>

{% endblock content %}

{% block scripts %}
<script id="account_user" data="{{ request.user.id }}"></script> 

<script src="{% static 'js/nav.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    (async function() {
        await get_token();
        get_all_contacts();
    })();

</script>
{% endblock scripts %}
