{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} <h1>CHATAPP</h1>
<p>Welcome @{{ request.user.username }}</p>  {% endcomment %}

<div class="chatapp-main-wrapper">
    {% include "nav.html" %}

    <div class="sections-display grid-item">
        {% include "base/partials/messages.html" %}
        {% include "base/partials/contacts.html" %}
    </div>

    {% include "base/partials/chat_box.html" %}
</div>

{% comment %} <hr>
<a href="{% url 'find-users' %}">start new conversation</a> {% endcomment %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
<script>
    (async function() {
        await get_token();
    })(); 
</script>
{% endblock scripts %}
