{% extends "base.html" %}
{% load static %}

{% block body_class %}register-login-page{% endblock body_class %}

{% block content %}
<div class="register-login-container">

    <div class="register-user-profile-content" id="register-user-profile">
        <p><span>@{{ request.user.username }}, </span>complete registration to continue...</p>
        <div class="register-user-profile-form">
            <form action="" method="post" enctype="multipart/form-data" id="user-profile-form">
                {% csrf_token %}
                <div class="form-avatar avatar-update">
                    <img src="{{ request.user.profile.avatar.url }}" alt="profile picture" class="avatar" id="form-avatar">
                    {{ form.avatar }}
                    <label for="{{ form.avatar.id_for_label }}" class="avatar-label">
                        <img src="{% static 'images/icons/camera.png' %}" alt="edit profile pic icon" class="edit-profile-icon">
                    </label>
                    {% if form.avatar.errors %}
                        <div>
                            {% for error in form.avatar.errors %}
                            <p class="errors">* {{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-item full_name">
                    {{ form.full_name.label_tag }}
                    {{ form.full_name }}
                    {% if form.full_name.errors %}
                        <div>
                            {% for error in form.full_name.errors %}
                            <p class="errors">* {{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-item">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                    {% if form.phone_number.errors %}
                        <div>
                            {% for error in form.phone_number.errors %}
                            <p class="errors">* {{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-item">
                    {{ form.bio.label_tag }}
                    {{ form.bio }}
                    {% if form.bio.errors %}
                        <div>
                            {% for error in form.bio.errors %}
                            <p class="errors">* {{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-footer">
                    {% comment %} <button class="btn skip">skip</button> {% endcomment %}
                    <div class="btn">
                        <input type="submit" value="continue" id="continue" class="btn-continue disabled">
                    </div>
                        <!-- <button id="continue">Continue</button> -->
                </div>

            </form>
        </div>
        
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    const fullName = document.querySelector('.form-item.full_name input');
    const fileInput = document.querySelector('.form-avatar input');
    const btn = document.querySelector('.form-footer .btn')
    const btnContinue =  document.querySelector('.form-footer input');
    const btnSkip =  document.querySelector('.form-footer .skip');
    const AvatarDiv = document.querySelector('.avatar-update');
    const form = document.querySelector('#user-profile-form')


    if (fullName.value !== '') {
        btnContinue.classList.remove('disabled');
    } else {
        btn.style.cursor = 'not-allowed';
    }

    fullName.addEventListener('input', (e) => {
        if (e.target.value.trim() !== '') {
            btnContinue.classList.remove('disabled');
            btn.style.cursor = 'auto';
        } else {
            btnContinue.classList.add('disabled');
            btn.style.cursor = 'not-allowed';
        }
    });
    

    fileInput.addEventListener('change', () => {
        const avatar = document.getElementById('form-avatar');
        const file = fileInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                avatar.remove();
                img.setAttribute('class', 'avatar');
                img.setAttribute('id', 'form-avatar')
                AvatarDiv.prepend(img);
            };
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock scripts %}
