{% extends "base.html" %}

{% block content %}

<h1>Find Friends</h1>
{% for user in users %}
{% if user != request.user %}

<div>
    
    <p>@{{ user.username }} 
        {% if user not in request.user.following.all %}
        <button class='follow-btn' data-following="false" user-id="{{ user.id }}">Follow</button>
        {% else %}
        <button class='follow-btn' data-following="true" user-id="{{ user.id }}">Unfollow</button>
        {% endif %}
    </p>
</div>

{% endif %}
{% endfor %}
{% endblock content %}

{% block scripts %}
<script>
    const followButtons = document.querySelectorAll('.follow-btn');


    followButtons.forEach(button => {
        const userToFollowId = button.getAttribute('user-id');
        // button.onclick = async () => {

        button.addEventListener('click', async () => {
            const action = (button.getAttribute('data-following') === 'true') ? 'unfollow' : 'follow';
            const url = `http://${window.location.host}/follow-or-unfollow/${userToFollowId}/?action=${action}`;

            try {
                response = await fetch(url);
                if (response.ok) {
                    data = await response.json();
                    console.log(data);
                    if (data.status === 'unfollowed') {
                        button.setAttribute('data-following', false);
                        button.textContent = 'Follow';
                    } else if (data.status === 'followed') {
                        button.setAttribute('data-following', true);
                        button.textContent = 'Unfollow';
                    } else {
                        console.error("Error updating follow status", response.statusText)
                    }
                }
            } catch (error) {
                console.error('Error:', error)
            }
            
        })

    })



    

</script>


{% endblock scripts %}

